footer {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 10px;
    height: 100px;
    border-top: 3px solid #ff3f09;


    svg {
        font-size: 50px;
        padding-right: 20px;
        padding-top: 10px;
        color: white;

        &:hover {
            color: #ff3f09;
        }

        &:active {
            scale: 1.05;
        }

    }

    .logo-mode-otp {
        width: 100px;
    }

    .copyrights {
        margin-top: 100px;
    }
}


@media (max-width: 1150px) {
    footer {
        height: 60px;


        .logo-mode-otp {
            width: 60px;
            height: 60px;
        }

        .copyrights {
            margin-top: 50px;
        }
    }
}