/* customStyles.css */
.ant-picker-range {
    border-color: var(--secondary-color) !important;
}

.ant-picker-active-bar {
    background: var(--secondary-color) !important;
}

.form h2 {
    font-size: 10px;

}