.navbar {
    display: flex;
    flex-direction: column;

    gap: 10px;

    a {
        height: 20px;
        color: #1b1b1b;

        &:hover {
            color: #ff3f09;
            text-decoration: underline;
        }
    }
}