.navbar {
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 30px;

    .slider {
        position: absolute;
        top: 28px;
        left: 26px;
        height: 2px;
        width: 132px;
        background-color: #ff3f09;
        transition: all 0.3s ease-out;

    }

    .moderateurs-link.active-link-header~.slider {
        left: 354px;
        width: 116px;
    }

    .planning-link.active-link-header~.slider {
        left: 180px;
        width: 148px;
    }

    .active-link-header {
        color: #ff3f09;
        scale: 1.03;
    }

    a {
        box-sizing: border-box;
        color: white;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        height: 100%;
        transition: all 0.1s ease-out;
        display: flex;
        flex-direction: row;
        gap: 10px;

        &:hover {
            color: #ff3f09;
            scale: 1.03;


        }

        &:hover svg {
            color: #ff3f09
        }

    }
}

.active-link-header {
    color: white;

}