.body {

    margin: auto;
    width: 100%;
    padding: 150px;
    gap: 100px;
    display: flex;
    flex-direction: column;
    gap: 400px;
    align-content: flex-start;
    background-color: #1b1b1b;

    margin-bottom: 100px;

    justify-content: center;

}