@import '../../../style/variables';

.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-height main {
    flex: 1;

}

main {
    background-color: #f9f9f9;
}



@media (max-width: 1150px) {
    h2 {
        font-size: 20px;
        padding-left: 10px;
    }
}