.body{
    
    margin: auto;
    width: 80%;
    padding: 150px;
    border-radius: 50px;
    gap:100px;
    display: flex;
    flex-direction: column;
    gap : 400px;
    align-content: flex-start;
    background-color: #1b1b1b;
    border: 3px solid #ff3f09;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;

}    


