.members-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b1b;

    h1{
        margin-top: 50px;
        text-align: center;
        color: white;
        font-size: 40px;
        
        
    }
    .members{
        margin: auto;
        width: 70%;
        gap:100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: #1b1b1b;
        margin-bottom: 150px;
        margin-top: 100px;
        
    
        .member{
            display: flex;
            width: 200px;
            background-color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 40px;
            overflow: hidden;
            padding: 20px;
            border: 3px solid #877E7A;
            //box-shadow: 12px 12px 10px 5px rgba(135, 126, 122, 0.3);
            transition: border 0.5s, transform 0.2s ease-in-out;

            &:hover{
                border: 3px solid #ff3f09;
                //box-shadow: 9px 9px 10px 5px rgba(0, 0, 0, 0.25);
                transform: scale(1.05);
            }
    
            img{
                border-radius: 50%;
                margin: 0 15px 15px 15px;
            }
    
            p{
                color: #1b1b1b;
                font-weight: 700;
                font-size: 26px;
                margin: 0;
                margin-bottom: 10px;
            }
    
            
        }
    }
}



.loader{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    background-color: white;
    color: #1b1b1b;
    font-size: 50px;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img{
        width: 250px;
        transform: rotateX(360);
    }

    .rotating {
        animation: rotation 1s infinite linear;
    }
    
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}