.fc .fc-timegrid-body {
    display: flex;
    flex-direction: row-reverse;
}

.fc {
    width: 30%;
    height: 800px;
}

.timetable-container{
    display: flex;
    flex-direction: row;
    gap: 5%;
}