* {
    font-family: 'Montserrat';
}

.user-logout-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    border: none;
    top: 15px;
    right: 20px;
    height: 60px;
    padding: 10px;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .user-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px solid #ff3f09;
    }

    .user-nick {
        margin: 0;
        color: #ff3f09;
        font-weight: 700;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3px;
    }

}

.logout-button {
    margin-top: 15px;
    background-color: #1b1b1b;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 14px;
    border: #ff3f09 1px solid;
    border-radius: 25px;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: #ff3f09;
    }

    &:active {
        scale: 0.95;
    }
}

/*@media (max-width: 768px) {
    .user-logout-container {
        background-color: transparent;
        width: 0px;
        flex-direction: column-reverse;
        gap: 0px;
        left: 80px;
        top: 60px;

        .logout-button {
            margin-top: 0px;
        }
    }
}*/