* {
    font-family: 'Montserrat';
}

.user-logout-container {
    position: absolute;
    border: none;
    top: 15px;
    right: 20px;
    height: 60px;
    background-color: #1b1b1b;
    padding: 10px;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .user-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px solid #ff3f09;
    }

    .user-nick {
        margin: 0;
        color: #ff3f09;
        font-weight: 700;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3px;
    }

}

.logout-button {
    background-color: #ff3f09;

    color: white;
    height: 30px;
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: 10px;

    &:active {
        scale: 0.98;
    }
}