@import '../../../style/variables';


.login-container {
    font-family: 'Montserrat';
    min-height: 720px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;




    h2 {
        margin-top: 40px;
        font-size: 20px;
        color: var(--secondary-color);
    }

    .form-login {

        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--error-color);
        gap: 50px;

        label {
            color: var(--primary-color);
            border-radius: 25px;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
        }

        p {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            border: var(--error-color) 3px solid;
            border-radius: 20px;
            font-weight: 700;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;

            img {
                height: 25px;
            }

        }

        .input-username,
        .input-password {
            display: flex;
            flex-direction: column;
            color: var(--primary-color);
            align-items: center;
            gap: 10px;
            font-size: 18px;



            input {
                color: var(--primary-color);
                background-color: var(--background-color);

                width: 250px;
                height: 35px;
                border-radius: 20px;
                text-indent: 10px;
                border: none;

            }

            input:focus {
                outline: none;
            }





            input[type="text"],
            textarea {
                background-color: var(--background-color);

            }

            input[type="text"],
            input[type="password"] {

                font-family: 'Montserrat';
                color: var(--primary-color);
                background-color: var(--background-color);
                font-size: 18px;
                border: none;
                padding: 0;
            }


        }

        button {

            color: var(--primary-color);
            width: 160px;
            height: 40px;
            font-size: 18px;
            border-radius: 25px;
            transition: all 0.2s ease-out;
            background-color: var(--background-color);

            &:hover {
                background-color: var(--secondary-color);
            }

            &:active {
                scale: 0.95;
            }
        }
    }


}